<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
      <h1>404 oops !</h1>
      <h2>That page does not exist</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
