<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>about</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quam
        vel ad doloremque! Pariatur dolorum quod adipisci quisquam quaerat illo
        atque, eos temporibus consectetur saepe. Dignissimos non est itaque
        dolore!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
